<template>
  <NavBar />
  <AppHeader />
  <div class="max-centered">
    <BannerTop />
    <main role="main">
      <RouterView />
    </main>
    <BannerBottom />
    <AppFooter />
  </div>
</template>

<script lang="ts" setup>
import { RouterView } from 'vue-router'
import NavBar from '../NavBar.vue'
import AppHeader from '../AppHeader.vue'
import AppFooter from '../AppFooter.vue'
import BannerTop from '../BannerTop.vue'
import BannerBottom from '../BannerBottom.vue'
</script>

<style scoped lang="scss"></style>
