<template>
  <CardVote
    v-for="character in characters"
    :key="character.name"
    :character="character"
    type="gridView"
    @vote="handleVote"
    :positivePercentage="getPercentage(character.votes.positive, character.votes.negative)"
    :negativePercentage="getPercentage(character.votes.negative, character.votes.positive)"
  />
</template>

<script lang="ts" setup>
import { ref, type Ref, onMounted } from 'vue'
import { loadCharacters, saveCharacters } from '@/utils/localStorage'
import type { Character } from '@/types'
import CardVote from '@/components/CardVote.vue'

const characters: Ref<Character[]> = ref([])

const handleVote = (name: string, vote: 'up' | 'down'): void => {
  const character = characters.value.find((c) => c.name === name)
  if (character) {
    if (vote === 'up') {
      character.votes.positive += 1
    } else {
      character.votes.negative += 1
    }
    character.lastUpdated = new Date().toISOString()
    saveCharacters(characters.value)
  }
}

const getPercentage = (voteCount: number, otherVoteCount: number): string => {
  const total = voteCount + otherVoteCount
  return total === 0 ? '0' : ((voteCount / total) * 100).toFixed(2)
}

onMounted(() => {
  characters.value = loadCharacters()
})
</script>
