<template>
  <header>
    <h2>Previous Rulings</h2>
    <DropdownSelector class="dropdown" @update:selectedOption="handleOptionChange" />
  </header>
  <div class="cards-items">
    <component :is="votesLayout" />
  </div>
</template>

<script lang="ts" setup>
import { defineAsyncComponent, shallowRef, type Component } from 'vue'
import DropdownSelector from '@/components/DropdownSelector.vue'

const VotesCardLayot = defineAsyncComponent(() => import('@/components/Layout/VotesCardLayout.vue'))
const VotesListLayout = defineAsyncComponent(
  () => import('@/components/Layout/VotesListLayout.vue')
)

const votesLayout = shallowRef<Component>(VotesCardLayot)

const handleVotesLayout = (cmp: Component) => (votesLayout.value = cmp)

const handleOptionChange = (option: string) => {
  if (option === 'Grid') {
    handleVotesLayout(VotesCardLayot)
  } else {
    handleVotesLayout(VotesListLayout)
  }
}
</script>

<style scoped lang="scss">
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dropdown {
    margin-top: -12px;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
.cards-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  @media (max-width: 768px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    justify-content: flex-start;
  }
}
</style>
