<template>
  <hr role="separator" />
  <footer class="footer">
    <div class="footer__links">
      <ul>
        <li>
          <a href="#">Terms and Conditions</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="footer__social">
      <span>Follow us</span>
      <ul>
        <li>
          <a href="#">
            <IconFacebook />
          </a>
        </li>
        <li>
          <a href="#">
            <IconTwitter />
          </a>
        </li>
      </ul>
    </div>
  </footer>
</template>

<script lang="ts" setup>
import IconFacebook from './icons/IconFacebook.vue'
import IconTwitter from './icons/IconTwitter.vue'
</script>

<style scoped lang="scss">
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 1rem 3rem;
}

.footer__links li {
  padding: 0.5rem 0;
  font-size: 1.25rem;

  a {
    color: $color-dark-gray;
    text-decoration: none;

    &:hover {
      color: $color-darker-gray;
      text-decoration: underline;
    }
  }
}

.footer__social {
  > span {
    color: $color-darker-gray;
    font-size: 1.25rem;
    text-align: right;
  }

  > ul {
    display: flex;
    margin-top: 1rem;

    > li {
      margin-right: 1rem;
    }
  }
}

@media all and (min-width: 768px) {
  .footer {
    align-items: flex-start;
  }

  .footer__links ul,
  .footer__social {
    display: flex;
  }

  .footer__links ul li {
    padding: 0;
    margin-right: 2rem;
    font-size: 1rem;
  }

  .footer__social {
    align-items: center;
    span {
      margin-right: 1rem;
      color: var(--color-dark-gray);
      font-size: 0.833rem;
    }
    > ul {
      margin-top: 3px;
    }
  }
}
</style>
