<template>
  <header class="hero">
    <img
      class="hero__background"
      srcset="/img/pope-francis.png 750w, /img/pope-francis.@2x.png 1440w"
      sizes="(min-width: 750px) 1440px, 100vw"
      src="/img/pope-francis.png"
      alt="Pope Francis"
    />
    <div class="max-centered">
      <HeroCard />
    </div>
    <HeroClosingGauge />
  </header>
</template>

<script lang="ts" setup>
import HeroCard from './HeroCard.vue'
import HeroClosingGauge from './HeroClosingGauge.vue'
</script>

<style scoped lang="scss">
.hero {
  position: relative;
  overflow: hidden;
  height: 80vw;
  min-height: 35rem;
  max-height: 38rem;
  margin-bottom: 2rem;

  @media all and (min-width: 1100px) {
    min-height: 700px;
  }
}
.hero__background {
  position: absolute;
  left: -35vw;
  width: 160vw;
  height: 100%;
  object-fit: cover;

  @media all and (min-width: 1100px) {
    top: -2.5rem;
    left: 0;
    width: 100vw;
    height: auto;
  }

  @media all and (min-width: 768px) {
    top: -6.5rem;
    left: 0;
    width: 110vw;
    height: auto;
  }
}
</style>
