<template>
  <aside class="banner banner-top" role="doc-tip" aria-label="Speak Out">
    <div class="banner__left">
      <span class="banner__hairline">Speak out. Be heard.</span>
      <span class="banner__title">Be counted</span>
    </div>
    <div class="banner__right">
      <p class="banner__text">
        Rule of Thumb is a crowd sourced court of public opinion where anyone and everyone can speak
        out and speak freely. It’s easy: You share your opinion, we analyze and put the data in a
        public report.
      </p>
    </div>
    <button class="icon-button" aria-label="close">
      <IconClose />
    </button>
  </aside>
</template>

<script lang="ts" setup>
import IconClose from './icons/IconClose.vue'
</script>

<style scoped lang="scss">
.banner-top {
  .banner__left {
    flex-basis: 40%;
    padding-right: 1rem;
    > .banner__hairline {
      color: $color-dark-gray;
      font-size: 1.25rem;
      font-weight: 300;
      letter-spacing: -0.07rem;
    }
    > .banner__title {
      display: block;
      color: $color-dark-gray;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: -0.05rem;
    }
  }
  .banner__right {
    flex-basis: 60%;
  }
  .banner__text {
    margin: 0;
    color: $color-dark-gray;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
  }
  .icon-button {
    display: none;
  }

  @media all and (min-width: 500px) {
    .banner__left {
      flex-basis: 30%;
    }
    .banner__right {
      flex-basis: 70%;
    }
  }

  @media all and (min-width: 768px) {
    .banner__left {
      flex-basis: 20%;
    }
    .banner__right {
      flex-basis: 80%;
    }
  }

  @media all and (min-width: 1100px) {
    .banner__text,
    .banner__left {
      > .banner__hairline {
        font-size: 1rem;
      }
      > .banner__title {
        font-size: 1.5rem;
        letter-spacing: 0;
      }
    }
    .icon-button {
      display: block;
      margin-left: 2rem;
    }
  }
}
</style>
