<template>
  <div :class="`cardVote ${props.type}`">
    <img
      class="character"
      :src="`/img/characters/${props.type}/${props.character.picture}`"
      :alt="props.character.name"
    />
    <div class="cardVote__content">
      <div class="info">
        <h3>{{ props.character.name }}</h3>
        <p>{{ props.character.description }}</p>
      </div>
      <div class="cardVote__actions">
        <div class="time-category" v-show="!isVoteAgainActive">
          <time datetime="">{{ timeAgo }}</time>
          in <span class="category">{{ props.character.category }}</span>
        </div>
        <div class="thankyou" v-if="isVoteAgainActive" @click="isVoteAgainActive = false">
          <span>Thank you for your vote!</span>
          <button>Vote again</button>
        </div>
        <form @submit.prevent="submitVote" v-else>
          <div class="radio-group">
            <input
              type="radio"
              :id="`vote-up-${props.character.name}`"
              name="vote"
              value="up"
              v-model="selectedOption"
            />
            <label :for="`vote-up-${props.character.name}`" class="custom-radio up">
              <img src="/img/thumbs-up.svg" alt="thumbs up" />
            </label>
            <input
              type="radio"
              :id="`vote-down-${props.character.name}`"
              name="vote"
              value="down"
              v-model="selectedOption"
            />
            <label :for="`vote-down-${props.character.name}`" class="custom-radio down">
              <img src="/img/thumbs-down.svg" alt="thumbs down" />
            </label>
          </div>
          <button type="submit">Vote now</button>
        </form>
      </div>
    </div>

    <div class="cardVote__bar">
      <div class="thumbsUpBar" :style="`width: ${positivePercentage}%`">
        <img src="/img/thumbs-up.svg" alt="thumbs up" />
        <span class="percentage">{{ positivePercentage }}%</span>
      </div>

      <div class="thumbsDownBar" :style="`width: ${negativePercentage}%`">
        <span class="percentage">{{ negativePercentage }}%</span>
        <img src="/img/thumbs-down.svg" alt="thumbs down" />
      </div>
    </div>

    <div :class="`mostVotesIcon ${hasMorePositiveVotes ? 'thumbsUp' : 'thumbsDown'}`">
      <img src="/img/thumbs-up.svg" alt="thumbs up" v-show="hasMorePositiveVotes" />
      <img src="/img/thumbs-down.svg" alt="thumbs down" v-show="!hasMorePositiveVotes" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue'
import type { Character } from '@/types'
import { getTimeAgo } from '@/utils/date'

const props = defineProps<{
  character: Character
  type: string
  positivePercentage: string | number
  negativePercentage: string | number
}>()

const emit = defineEmits(['vote'])

const selectedOption = ref('')
const isVoteAgainActive = ref(false)

const submitVote = () => {
  if (selectedOption.value) {
    emit('vote', props.character.name, selectedOption.value)
    selectedOption.value = ''
    isVoteAgainActive.value = true
  }
}

const timeAgo = computed(() => getTimeAgo(props.character.lastUpdated))

const hasMorePositiveVotes = computed(() =>
  props.positivePercentage >= props.negativePercentage ? true : false
)
</script>

<style scoped lang="scss">
.cardVote {
  width: 348px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &:before {
    @include pseudo-bg;
    z-index: 1;
    background-image: linear-gradient(to top, $color-dark-background, transparent);
  }
  img.character {
    position: relative;
    height: auto;
  }
  .cardVote__content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 30px 36px 40px;
    color: $color-white;
    display: flex;
    flex-direction: column;
    h3,
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3 {
      color: $color-white;
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 0;
    }
    p {
      margin: 10px 0;
      font-size: 18px;
    }
  }

  .cardVote__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 12px;
    .thankyou {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      span {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 12px;
      }
    }
    .time-category {
      font-size: 12px;
      font-weight: 700;
      text-align: right;
      margin-bottom: 12px;
    }
    .category {
      text-transform: capitalize;
    }
    form {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .radio-group {
      display: flex;
      gap: 10px;
      margin-right: 10px;
    }

    input[type='radio'] {
      display: none;
      &:checked + .custom-radio {
        box-shadow: 0 0 0 2px $color-white;
      }
    }
    .custom-radio {
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &.up {
        background: $color-green-positive;
      }
      &.down {
        background: $color-yellow-negative;
      }
    }
    button {
      max-width: 115px;
      height: 38px;
      border: 1px solid $color-white;
      background-color: $color-darker-background;
      color: $color-white;
      padding: 0 20px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $color-white;
        color: $color-darker-background;
      }
    }
  }

  .cardVote__bar {
    width: 100%;
    height: 36px;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: row;
    z-index: 1;
    color: $color-white;
    .thumbsUpBar,
    .thumbsDownBar {
      display: flex;
      align-items: center;
      padding: 0 4px;
      font-weight: 300;
      img {
        width: 15px;
        margin: 0 6px;
      }
    }
    .thumbsUpBar {
      background: rgba($color-green-positive, 0.7);
      justify-content: flex-start;
    }
    .thumbsDownBar {
      background: rgba($color-yellow-negative, 0.7);
      justify-content: flex-end;
    }
  }
  .mostVotesIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 36px);
    display: flex;
    justify-content: center;
    align-items: center;
    &.thumbsUp {
      background: $color-green-positive;
    }
    &.thumbsDown {
      background: $color-yellow-negative;
    }
  }

  @media only screen and (max-width: 1100px) {
    width: 351px;
    .cardVote__content {
      h3 {
        font-size: 30px;
      }
      p {
        font-size: 15px;
      }
    }
    .cardVote__bar {
      font-size: 18px;
    }
    .mostVotesIcon {
      transform: translateY(10px);
    }
  }

  @media (max-width: 768px) {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  // List View

  &.listView {
    width: 100%;
    height: 170px;
    &:before {
      margin-left: 46px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.0001) 0%,
        #888888 19.79%,
        #666666 50%,
        rgba(51, 51, 51, 0.6) 71.88%
      );
    }
    img.character {
      width: 267px;
    }
    .cardVote__content {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      padding: 0 14px 54px 260px;
      flex-direction: row;
      h3 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .cardVote__actions {
      padding-bottom: 29px;
      min-width: 260px;
      align-items: flex-end;
      .thankyou {
        span {
          font-size: 15px;
        }
      }
      .time-category {
        font-size: 15px;
      }
      .radio-group {
        gap: 5px;
        margin: 0 5px 0 36px;
      }
      .custom-radio {
        width: 45px;
        height: 45px;
      }
      button {
        max-width: none;
        width: 135px;
        height: 45px;
        font-size: 18px;
      }
    }

    .cardVote__bar {
      height: 54px;
      font-size: 27px;
      .thumbsUpBar,
      .thumbsDownBar {
        img {
          width: 22.5px;
        }
      }
    }
    .mostVotesIcon {
      width: 45px;
      height: 45px;
      top: 0;
      transform: none;
      img {
        width: 24px;
      }
    }

    @media only screen and (max-width: 1100px) {
      height: 142px;
      &:before {
        margin-left: 30px;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.0001) 0%,
          #888888 16%,
          #666666 50%,
          rgba(51, 51, 51, 0.6) 72%
        );
      }
      img.character {
        width: min-content;
        height: 142px;
        left: -27px;
      }
      .cardVote__content {
        padding-left: 150px;
        padding-bottom: 36px;
        h3 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
      }

      .cardVote__actions {
        min-width: 220px;
        .thankyou {
          span {
            font-size: 12px;
          }
        }
        .time-category {
          font-size: 12px;
        }
        .custom-radio {
          width: 30px;
          height: 30px;
        }
        button {
          width: 115px;
          height: 38px;
          font-size: 15px;
        }
      }

      .cardVote__bar {
        height: 36px;
        font-size: 18px;
        .thumbsUpBar,
        .thumbsDownBar {
          img {
            width: 15px;
          }
        }
      }
      .mostVotesIcon {
        width: 30px;
        height: 30px;
        img {
          width: 16px;
        }
      }
    }
  }
}
</style>
