<template>
  <div class="dropdown">
    <button class="dropdown-toggle" @click="toggleDropdown">
      <span class="text">{{ selectedOption }}</span>
      <span class="arrow"><img src="/img/triangle.svg" alt="triangle" /></span>
    </button>
    <ul v-if="isOpen" class="dropdown-selector">
      <li v-for="option in options" :key="option" @click="selectOption(option)">
        {{ option }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>
import { type Ref, ref } from 'vue'

const isOpen = ref(false)
const selectedOption = ref('Grid')
const options: Ref<string[]> = ref(['List', 'Grid'])

const emit = defineEmits(['update:selectedOption'])

const toggleDropdown = () => {
  isOpen.value = !isOpen.value
}

const selectOption = (option: string) => {
  selectedOption.value = option
  isOpen.value = false
  emit('update:selectedOption', option)
}
</script>

<style scoped lang="scss">
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13.5px;

  .dropdown-toggle {
    background-color: $color-white;
    border: 2px solid $color-darker-gray;
    padding: 8px 20px 8px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 173px;
    text-align: center;
    .text {
      width: 100%;
    }
  }

  .dropdown-selector {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 2px solid $color-darker-gray;
    border-top: none;
    width: 100%;
    z-index: 2;

    li {
      padding: 8px 16px;
      text-align: center;
      border-bottom: 2px solid $color-darker-gray;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}
</style>
