<template>
  <div class="hero__featured-card">
    <div class="featured-card__glass-background"></div>
    <div class="featured-card__content">
      <p class="featured-card__hairline">What's your opinion on</p>
      <h2 class="featured-card__title">Pope Francis?</h2>
      <p class="featured-card__desc">
        He’s talking tough on clergy sexual abuse, or is he just another pervert protector? (thumbs
        down) or a true pedophile punishing pontiff? (thumbs up)
      </p>
      <p class="featured-card__more-info">
        <a href="http://wikipedia.com"> <IconWikipedia />More information </a>
      </p>
      <p class="featured-card__cta">What’s Your Veredict?</p>
      <div class="featured-card__buttons">
        <button class="icon-button" aria-label="thumbs up">
          <img src="/img/thumbs-up.svg" alt="thumbs up" />
        </button>
        <button class="icon-button" aria-label="thumbs down">
          <img src="/img/thumbs-down.svg" alt="thumbs down" />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import IconWikipedia from './icons/IconWikipedia.vue'
</script>

<style scoped lang="scss">
.hero__featured-card {
  position: relative;
  top: 5.5rem;
  left: 1rem;
  overflow: hidden;
  width: 55vw;
  max-height: 25rem;
}

.featured-card__glass-background {
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background:
    center no-repeat linear-gradient($color-dark-background, $color-dark-background),
    -25vw 0/160vw no-repeat url('/img/pope-francis.png');
  filter: blur(1rem);
}

.featured-card__content {
  position: relative;
  padding: 1rem;
  color: $color-white;
}

.featured-card__hairline {
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}

.featured-card__title {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.featured-card__desc {
  display: -webkit-box;
  overflow: hidden;
  max-height: 10.5rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  font-size: 1.25rem;
  font-weight: 300;
  -webkit-line-clamp: 6;
  text-overflow: ellipsis;
}

.featured-card__cta {
  font-weight: 700;
}

.featured-card__buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 -1rem -1rem;
  > .icon-button {
    width: 50%;
    height: 2.75rem;
    > img {
      max-width: 1.25rem;
    }
  }
}

.featured-card__more-info {
  display: none;
}

.featured-card__more-info-icon {
  width: 1.5rem;
  height: 1rem;
  margin-right: 0.5rem;
}

@media all and (min-width: 1100px) {
  .hero__featured-card {
    left: 0;
    width: 50%;
    min-width: 600px;
    max-height: unset;
    margin-top: 2.5rem;
  }

  .featured-card__glass-background {
    background:
      center no-repeat linear-gradient($color-dark-background, $color-dark-background),
      calc(-50vw + 650px) -6rem/105vw auto no-repeat url(/img/pope-francis.png);
  }

  .featured-card__content {
    padding: 2rem 1.5rem;
  }

  .featured-card__desc {
    max-width: 85%;
    margin: 2rem 0 1rem;
  }

  .featured-card__cta {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
  }

  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
    > .icon-button {
      height: auto;
      > img {
        max-width: 2rem;
        height: 2rem;
        margin: 1.3rem 0;
      }
    }
  }
}

@media all and (min-width: 768px) {
  .featured-card__glass-background {
    background:
      center no-repeat linear-gradient($color-dark-background, $color-dark-background),
      7vw -6.5rem/115vw auto no-repeat url(/img/pope-francis.png);
  }

  .featured-card__content {
    padding: 2rem 1.5rem;
  }

  .featured-card__more-info {
    display: inline-block;
    margin: 0;
    font-weight: 300;
  }

  .featured-card__buttons {
    margin: 0 -1.5rem -2rem;
  }
}
</style>
