<template>
  <div class="hero__closing-gauge">
    <div class="closing-gauge__left">
      <span class="closing-gauge__title">closing in</span>
    </div>
    <div class="closing-gauge__right">
      <span class="closing-gauge__number">22</span>
      <span class="closing-gauge__desc">days</span>
    </div>
  </div>
</template>

<style scoped lang="scss">
.hero__closing-gauge {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: $color-light-background;
}

.closing-gauge__left {
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.25rem 0 0;
  background-color: $color-dark-background;
  color: $color-white;
  font-weight: 300;
  text-transform: uppercase;
  &:after {
    position: absolute;
    right: -0.5rem;
    display: block;
    width: 0;
    height: 0;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    border-left: 0.5rem solid $color-dark-background;
    content: ' ';
  }
}

.closing-gauge__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 0.75rem;
}

.closing-gauge__number {
  color: $color-dark-gray;
  font-size: 1.5rem;
  font-weight: 400;
}

.closing-gauge__desc {
  color: $color-dark-gray;
  font-size: 1.5rem;
  font-weight: 300;
}

@media all and (min-width: 1100px) {
  .closing-gauge__left {
    padding-right: 1rem;
    &:after {
      border-top-width: 0.33rem;
      border-bottom-width: 0.33rem;
    }
  }

  .closing-gauge__right {
    padding-left: 1rem;
  }

  .closing-gauge__title {
    font-size: 1.25rem;
  }

  .closing-gauge__number,
  .closing-gauge__desc {
    font-size: 2rem;
  }
}
</style>
