html,
body {
  width: 100%;
  margin: 0;
  background-color: $color-white;
  font-family: $body-font;
  font-size: 12px;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media all and (min-width: 768px) {
    font-size: 14px;
  }

  @media all and (min-width: 1100px) {
    font-size: 18px;
  }
}

body {
  position: relative;
}

a,
a:visited {
  color: $color-white;
}

button {
  font-family: $body-font;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 1rem 0;
}

hr[role='separator'] {
  border: 0 none;
  border-bottom: 2px dotted $color-dark-gray;
  margin: 1.5rem 1rem;

  @media all and (min-width: 1100px) {
    margin: 2rem 0;
  }
}
