/*
| -------------------------------------------------------------------
| Base Colors
| -------------------------------------------------------------------
*/

$color-green-positive: #3cbbb4;
$color-yellow-negative: #f9ad1d;
$color-dark-background: rgba(0, 0, 0, 0.4);
$color-darker-background: rgba(0, 0, 0, 0.6);
$color-darker-gray: rgba(51, 51, 51, 1);
$color-dark-gray: rgba(70, 70, 70, 1);
$color-light-gray: rgba(235, 235, 235, 1);
$color-light-background: rgba(255, 255, 255, 0.4);
$color-lighter-background: rgba(255, 255, 255, 0.8);
$color-white: rgba(255, 255, 255, 1);

/*
| -------------------------------------------------------------------
| Font Families
| -------------------------------------------------------------------
*/

$body-font: 'Lato', sans-serif;
