@import './variables', './mixins', './reset', './base';

.max-centered {
  display: contents;

  @media all and (min-width: 1100px) {
    position: relative;
    display: block;
    width: 100vw;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;

    > *,
    > hr[role='separator'] {
      margin-right: 0;
      margin-left: 0;
    }

    main {
      padding: 0;
    }
  }
}

main[role='main'] {
  padding: 0 1rem;
  margin-top: 2rem;

  @media all and (min-width: 1100px) {
    padding: 0;
  }
}

main h2,
main h3,
main h4 {
  color: $color-dark-gray;
  font-weight: 300;
}

main h2 {
  margin: 0 0 2rem;
  font-size: 2rem;

  @media all and (min-width: 1100px) {
    font-size: 2.5rem;
  }
}

.banner {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  background-color: $color-light-gray;

  @media all and (min-width: 1100px) {
    margin: 0;
  }
}

.banner__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
  pointer-events: none;
}

.icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  > img {
    width: 100%;
    height: 100%;
  }
}

.icon-button[aria-label='thumbs up'] {
  background-color: rgba($color-green-positive, 0.8);
}

.icon-button[aria-label='thumbs up']:hover {
  background-color: rgba($color-green-positive, 1);
}

.icon-button[aria-label='thumbs down'] {
  background-color: rgba($color-yellow-negative, 0.8);
}

.icon-button[aria-label='thumbs down']:hover {
  background-color: rgba($color-yellow-negative, 1);
}
